* {
    /*reset all m and p to 0*/
    margin: 0;
    padding: 0;
    list-style: none;
}
.header {
    width: 100%;
    height: 680px;
    background-size: cover;
    position: relative;
    background-image: url(../images/Background.jpg);
}
.header h1 {
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 44px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 1.99699px;
    top: 38px;
    left: 168px;
    color: #ebcb80;
}

.nav-bar ul {
    display: flex;
    position: absolute;
    top: 50px;
    right: 353px;
}
.nav-bar ul li {
    color: white;
    font-family: SourceSansPro;
    font-size: 18px;
    line-height: 21px;
    margin-right: 50px;
}

.take-btn {
    position: absolute;
    top: 39px;
    right: 171px;
}
.take-btn button {
    font-family: Montserrat;
    background-color: initial;
    font-size: 15px;
    line-height: 20px;
    color: white;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    border-radius: 50px;
    width: 179px;
    height: 46px;
}

.title {
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 48px;
    color: #ffffff;
    top: 229px;
    left: 442px;
    width: 39%;
    text-align: center;
}
.description {
    position: absolute;
    left: 448px;
    top: 347px;
    font-family: SourceSansPro;
    font-size: 16px;
    line-height: 24px;

    text-align: center;
    width: 542px;
    color: #ffffff;
}
.explore-btn {
    position: absolute;
    width: 157px;
    height: 44px;
    left: 646px;
    top: 470px;
    font-family: Montserrat;
    background: #ebcb80;
    border-radius: 50px;
    color: #4b4b4b;
    border: none;
    text-transform: uppercase;
}
/* subscribing plans */
.content-sp {
    width: 1140px;
    margin: auto;
    padding-bottom: 90px;
    background: #f6f6f6;
}
.sp-title {
    text-align: center;
    color: #4b4b4b;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    padding-top: 40px;
}
.cards {
    display: flex;
    margin-top: 45px;
    margin-left: -25px;
}
.card {
    box-shadow: 0px 2px 4px rgb(0 0 0 / 50%);
    width: 262px;
    height: 372px;
    margin-right: 36px;
}
.card-header {
    position: relative;
}

.card-title-top {
    position: absolute;
    font-family: Source Sans Pro;
    font-weight: bold;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    color: #ffffff;
    top: 43px;
    left: 86px;
}
.dolar {
    position: absolute;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    top: 80px;
    left: 89px;
}
.number {
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    top: 64px;
    left: 103px;
    font-size: 43px;

    color: #ffffff;
}
.card-bottom {
    width: 262px;
    position: relative;
}
.card-topic {
    font-family: SourceSansPro;
    font-size: 16px;
    line-height: 26px;

    text-align: center;
    margin-top: 10px;

    color: #4b4b4b;
}
.card-footer {
    position: absolute;
    top: 130px;
    left: 69px;
    color: #4b4b4b;
    font-family: Montserrat;
    text-transform: uppercase;
}
.card-footer button {
    background: #ebcb80;
    border-radius: 50px;
    width: 140px;
    height: 41px;
    position: absolute;
    left: -6px;
    top: -9px;
    border: none;
    color: #4b4b4b;
    text-transform: uppercase;
}
/* Features */

.layout {
    display: flex;
    width: 1140px;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 30px;
}
.content-features h1 {
    text-align: center;
    font-family: Montserrat;

    font-weight: bold;
    font-size: 44px;
    line-height: 48px;
    color: #4b4b4b;
    padding-top: 30px;
}
.content-features h3 {
    text-align: center;
    font-family: Montserrat;

    font-weight: bold;
    font-size: 18px;
    line-height: 48px;
    color: #4b4b4b;
}

.layout-left-content {
    display: flex;
    margin-bottom: 30px;
}
.layout-left-content img {
    height: 50px;
    width: 58px;
}
.respopnsive {
    margin-left: 20px;
}
.res-layout {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #4b4b4b;
}
.res-description {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    width: 262px;
    height: 72px;
}
.layout-right {
    margin-left: 50px;
}
/* Stunning Results */
.content-stunning {
    padding-top: 40px;
}
.stunning-title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    color: #4b4b4b;
    text-align: center;
}
.stunning-description {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4b4b4b;
    text-align: center;
    margin-top: 22px;
}

/* Circle */
.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 25px;
    padding-bottom: 100px;
}

.single-chart {
    width: 33%;
    justify-content: space-around;
    position: relative;
}
.circle-number {
    position: absolute;
    top: 115px;
    left: 193px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 42px;
    color: #4b4b4b;
}
.circle-number span {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;

    color: #4b4b4b;
}
.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
}

.circle-bg {
    fill: none;

    stroke: #ebcb80;
    stroke-width: 0.8;
}

.circle {
    fill: none;
    stroke-width: 0.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart .circle {
    stroke: #eee;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}
.circle-title {
    text-align: center;
}
.circle-title h2 {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #4b4b4b;
    text-transform: uppercase;
}
.circle-title p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    width: 262px;
    height: 72px;
    margin-left: 109px;
    margin-top: 15px;
}
/* footer */
.content-accout {
    background-image: url("../images/background-footer.jpg");
    width: 100%;
    height: 588px;
    background-size: cover;
    position: relative;
}
.title-footer {
    position: absolute;
    top: 73px;
    left: 564px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 48px;
    color: #ffffff;
}
#form-login {
    position: absolute;
    width: 360px;
    height: 384px;
    top: 161px;
    left: 599px;
    background: #4b4b4b;
}
.form-heading {
    font-size: 18px;
    line-height: 27px;
    color: #ebcb80;
    text-align: center;
    text-transform: uppercase;
    margin-top: 28px;
}
.form-input {
    width: 256px;
    height: 36px;
    padding: 20px;
    mix-blend-mode: normal;
    opacity: 0.8;
    border: 1px solid #999999;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 25px;
}
.account {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #ebcb80;
    text-decoration-line: underline;
    margin-top: 25px;
}
.form-submit {
    width: 198px;
    height: 48px;
    text-transform: uppercase;
    background: #ebcb80;
    border-radius: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #4b4b4b;
    border: none;
    margin-top: 20px;
}
.footer {
    width: 1140px;
    margin: auto;
}
.menu {
    display: flex;
    padding-top: 40px;
    border-bottom: 1px solid #7d7d7d;
}
.menu ul {
    display: flex;
    position: relative;
    padding-bottom: 30px;
}
.menu ul li {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #4b4b4b;
    margin-right: 40px;
    text-transform: uppercase;
}
.icon-footer {
    position: absolute;
    right: 200px;
}
.icon-footer img {
    margin-right: 40px;
}
.footer-layout {
    display: flex;
    position: relative;
    margin-top: 20px;
}
.footer-layout-left p {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4b4b4b;
    opacity: 0.5;
}
.footer-layout-left span {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4b4b4b;
    opacity: 0.5;
    margin-top: 20px;
}
.footer-layout-right {
    position: absolute;
    right: 0px;
}
.footer-layout-right p {
    width: 360px;
    height: 48px;
    margin-bottom: 25px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4b4b4b;
    opacity: 0.5;
}
.form-enter {
    width: 187px;
    height: 40px;
    padding: 20px;
    border: 1px solid #7d7d7d;
    box-sizing: border-box;
    border-radius: 4px;
}
.subscribe-btn {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #f6f6f6;
    width: 140px;
    height: 40px;
    margin-left: 15px;
    background: #4b4b4b;
    border-radius: 4px;
    border: none;
}
